<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>blog</title>
    <link rel="stylesheet" href="/bootstrap-3.3.5-dist/css/bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/home.css">
    <link rel="shortcut icon" href="/images/favicon.png">
</head>
<body>
<div class="container-fluid pri-header">
    hello
</div>
</body>
</html>