<nav class="fex-navbar navbar navbar-default col-md-8">
    <div class="collapse navbar-collapse" id="tech-navbar">
        <ul class="nav navbar-nav">
            <li><a href="/daily">Daily</a></li>
            <li><a href="/myfex/blogs/techs">Techs</a></li>
            <li><a href="/myfex/blogs/others">Others</a></li>
        </ul>
    </div>
</nav>