<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Yuki's FEX </title>
    <link rel="stylesheet" href="/bootstrap-3.3.5-dist/css/bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/home.css">
    <link rel="stylesheet" href="/font-awesome-4.5.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="/images/favicon.png">
    <script src="/javascripts/jquery-1.11.1.min.js"></script>
</head>
<body>
    <div id="container-left" class="container col-md-2">

    </div>
    <div id="container-main" class="container col-md-8 col-md-offset-2"></div>
    <div id="container-right" class="container col-md-2"></div>

</body>
</html>