<%- include homeHeader.ejs %>
<div  class="body-container col-md-10 col-md-offset-1 pri-gird">
    <ul class="grid-list">
        <li class="grid-item grid-today">
            <span class="fa fa-desktop"></span>
            <span>TODAY</span>
        </li>
        <li class="grid-item grid-is">
            <span class="fa fa-coffee"></span>
            <span>IS</span>
        </li>
        <li class="grid-item grid-the">
            <span class="fa fa-child"></span>
            <span>THE</span>
        </li>
        <li class="grid-item grid-best">
            <span class="fa fa-diamond"></span>
            <span>BEST</span>
        </li>
        <li class="grid-item grid-day">
            <span class="fa fa-gift"></span>
            <span>DAY</span>
        </li>
        <li class="grid-item grid-in">
            <span class="fa fa-hand-peace-o"></span>
            <span>IN</span>
        </li>
        <li class="grid-item grid-my">
            <span class="fa fa-heartbeat"></span>
            <span>MY</span>
        </li>
        <li class="grid-item grid-life">
            <span class="fa fa-headphones"></span>
            <span>LIFE</span>
        </li>
    </ul>
</div>
<%- include footer.ejs %>
