<div class="row templates-wall">
    <div class="messages-link">
        <h4>Leave Messages</h4>
        <form class="message-form" method="post">
            <div class="form-group input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input type="text" class="form-control" id="name" placeholder="User Name" name="name" required="required">
            </div>
            <div class="form-group input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                <input type="text" class="form-control" id="email" placeholder="User Email" name="email" required="required">
            </div>
            <div class="form-group">
                <textarea class="form-control" rows="3" name="message" placeholder="您的资料会保密，感谢留言！" required="required"></textarea>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default link-btn" formaction="/daily/message"><i class="glyphicon glyphicon-send" title="留言"></i></button>
            </div>
        </form>
    </div>
    <div class="friends-link">
        <h4>Friendly Link</h4>
        <div class="friends-block">
            <div class="block-half">
                <a href="#">
                    <span class="friends-head"><img src="/images/links1.jpg" ></span>
                    <span class="friends-name">(Yuki)前端工程师(Yuki)前端工程师</span>
                </a>
                <a href="#">
                    <span class="friends-head"><img src="/images/links1.jpg" ></span>
                    <span class="friends-name">(Yuki)前端工程师</span>
                </a>
                <a href="#">
                    <span class="friends-head"><img src="/images/links1.jpg" ></span>
                    <span class="friends-name">(Yuki)前端工程师</span>
                </a>
                <a href="#">
                    <span class="friends-head"><img src="/images/links1.jpg" ></span>
                    <span class="friends-name">(Yuki)前端工程师</span>
                </a>
            </div>
            <div class="block-half">
                <a href="#">
                    <span class="friends-head"><img src="/images/links1.jpg" ></span>
                    <span class="friends-name">(Yuki)前端工程师(Yuki)前端工程师</span>
                </a>
                <a href="#">
                    <span class="friends-head"><img src="/images/links1.jpg" ></span>
                    <span class="friends-name">(Yuki)前端工程师</span>
                </a>
                <a href="#">
                    <span class="friends-head"><img src="/images/links1.jpg" ></span>
                    <span class="friends-name">(Yuki)前端工程师</span>
                </a>
                <a href="#">
                    <span class="friends-head"><img src="/images/links1.jpg" ></span>
                    <span class="friends-name">(Yuki)前端工程师</span>
                </a>
            </div>
        </div>
    </div>

</div>
<div class="contact-link">
    <span><i class="fa fa-github"></i>http://github.com/Joanna913</span>
    <span><i class="fa fa-envelope-o"></i>q469179122@163.com</span>
    <span><i class="fa fa-weibo"></i>心肝哟我是你的央婕啊</span>
</div>