<%- include homeHeader.ejs %>
<div class="body-container">
    <div class="container col-md-10 col-md-offset-1 content" >
        <%- include article.ejs %>
        <%- include aside.ejs %>
    </div>
</div>
<%- include footer.ejs %>